@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  --background: #1f2020;
  --surface: #f3f7f1;
  --shadow: #929391;
  --primary: #5e67de;
  --primary-variant: #3642C8;
  --secondary: #c05cd5;
  --secondary-variant: #AC38C6;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.board {
  display: grid;
  grid-template-areas: 
    "row1 row1 row1"
    "row2 row2 row2"
    "row3 row3 row3";
  width: 40rem;
  height: 40rem;
  background-color: var(--shadow);
  border-radius: 24px;
  gap: 0.5rem;
  padding: 0.75rem;
}

.board__cell {
  background-color: var(--surface);
  width: 1fr;
  height: 1fr;
  border-radius: 12px;
  box-shadow: inset 2px -3px 2px #5f6363;

  font-family: 'Fredoka One';
  font-size: 8rem;
  display: grid;
  place-items: center;
}

.board__cell .cell--row1 {
  grid-area: row1;
}

.board__cell .cell--row2 {
  grid-area: row2;
}

.board__cell .cell--row3 {
  grid-area: row3;
}