@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  --background: #1f2020;
  --surface: #f3f7f1;
  --shadow: #929391;
  --shadow-box: #5f6363;
  --primary: #5e67de;
  --primary-variant: #3642C8;
  --secondary: #cc6edf;
  --secondary-variant: #AC38C6;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "board"
    "footer";
  place-items: center;
  background-color: var(--background);
}

.board {
  grid-area: board;
  display: grid;
  grid-template-areas: 
    "row1 row1 row1"
    "row2 row2 row2"
    "row3 row3 row3";
  width: 35rem;
  height: 35rem;
  background-color: var(--shadow);
  border-radius: 24px;
  gap: 0.5rem;
  padding: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board__cell {
  background-color: var(--surface);
  border-radius: 12px;
  box-shadow: inset 2px -3px 2px var(--shadow-box);

  font-family: 'Fredoka One';
  font-size: 7rem;
  display: grid;
  place-items: center;

  transition: ease 0.2s;
}

.board__cell.X {
  color: var(--primary);
}

.board__cell.O {
  color: var(--secondary);
}

header {
  align-self: end;
}

.header__message {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: white;
}